In [8]:
!pip install pandas_datareader #install module

Collecting pandas_datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
Requirement already satisfied: lxml in c:\users\clyde\anaconda3\lib\site-packages (from pandas_datareader) (4.4.1)
Requirement already satisfied: requests>=2.3.0 in c:\users\clyde\anaconda3\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pandas>=0.21 in c:\users\clyde\anaconda3\lib\site-packages (from pandas_datareader) (0.25.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\clyde\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\clyde\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clyde\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\clyde\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\clyde\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\clyde\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\clyde\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\clyde\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas_datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

In [70]:
#Import libraries
import pandas as pd
import pandas_datareader as data
import datetime
from bokeh.plotting import figure, show, output_file

In [17]:
start=datetime.datetime(2016,1,1) #start date of stock
end = datetime.datetime(2016,3,10) #end date of stocks
#examine google stock for the dates above
df = data.DataReader(name='GOOG',data_source='yahoo',start=start,end=end) #Create table with data pulled from Yahoo Finance
df.head(2)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-01-04,744.059998,731.257996,743.000000,741.840027,3272800,741.840027
2016-01-05,752.000000,738.640015,746.450012,742.580017,1950700,742.580017

In [28]:
df.index[df.Close > df.Open] #index the dataframe to get dates only when the prices increased

DatetimeIndex(['2016-01-06', '2016-01-12', '2016-01-14', '2016-01-15',
               '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-28',
               '2016-01-29', '2016-02-01', '2016-02-08', '2016-02-09',
               '2016-02-11', '2016-02-17', '2016-02-19', '2016-02-24',
               '2016-02-25', '2016-03-01', '2016-03-08', '2016-03-09',
               '2016-03-10', '2016-03-11'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [71]:
#Function to review stock performance
def incr_decr(c,o):
    if c>o:
        value='Increase'
    elif c<o:
        value = 'Decrease'
    else:
        value='Equal'
    return value
df['Performance']=[incr_decr(c,o) for c,o in zip(df.Close, df.Open)]

In [72]:
df.head(4)

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Daily Average,Height,Performance
Date,,,,,,,,,,,
2016-01-04,744.059998,731.257996,743.000000,741.840027,3272800,741.840027,Decrease,742.420013,742.420013,1.159973,Decrease
2016-01-05,752.000000,738.640015,746.450012,742.580017,1950700,742.580017,Decrease,744.515015,744.515015,3.869995,Decrease
2016-01-06,747.179993,728.919983,730.000000,743.619995,1947000,743.619995,Increase,736.809998,736.809998,13.619995,Increase
2016-01-07,738.500000,719.059998,730.309998,726.390015,2963700,726.390015,Decrease,728.350006,728.350006,3.919983,Decrease

In [40]:
#Create candlestick chart
p= figure(title='Google Stock Prices',x_axis_type='datetime',width=1000,height=300)
hours_12 = 12*60*60*1000

p.rect(df.index[df.Close > df.Open],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close), fill_color='green', line_color='black')

p.rect(df.index[df.Close < df.Open],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close),fill_color='green', line_color='black')

output_file('candlestick.html')
show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 26), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 26), ('y', 48)

In [50]:
#Create candlestick chart
p= figure(title='Number of Increases and Decreases',x_axis_type='datetime',width=1000,height=300)
hours_12 = 12*60*60*1000

p.rect(df.index[df.Status== 'Increase'],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close), fill_color='green', line_color='black')

p.rect(df.index[df.Status=='Decrease'],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close),fill_color='green', line_color='black')

output_file('candlestick.html')
show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 26), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 26), ('y', 48)

In [73]:
df['Daily Average']=(df.Open+df.Close)/2
df.head(4)

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Daily Average,Height,Performance
Date,,,,,,,,,,,
2016-01-04,744.059998,731.257996,743.000000,741.840027,3272800,741.840027,Decrease,742.420013,742.420013,1.159973,Decrease
2016-01-05,752.000000,738.640015,746.450012,742.580017,1950700,742.580017,Decrease,744.515015,744.515015,3.869995,Decrease
2016-01-06,747.179993,728.919983,730.000000,743.619995,1947000,743.619995,Increase,736.809998,736.809998,13.619995,Increase
2016-01-07,738.500000,719.059998,730.309998,726.390015,2963700,726.390015,Decrease,728.350006,728.350006,3.919983,Decrease

In [74]:
df['Height']=abs(df.Close-df.Open)
df.head(2)

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Daily Average,Height,Performance
Date,,,,,,,,,,,
2016-01-04,744.059998,731.257996,743.000000,741.840027,3272800,741.840027,Decrease,742.420013,742.420013,1.159973,Decrease
2016-01-05,752.000000,738.640015,746.450012,742.580017,1950700,742.580017,Decrease,744.515015,744.515015,3.869995,Decrease

In [78]:
#Create candlestick chart
name = ['Increase Dates','Decrease Dates']

p= figure(title='Change in Stock Price',x_axis_type='datetime',width=1000,height=500,sizing_mode='scale_width')
hours_12 = 12*60*60*1000

p.grid.grid_line_alpha=0.3

p.rect(df.index[df.Status== 'Increase'],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close), fill_color='#CCFFFF', line_color='black')

p.rect(df.index[df.Status=='Decrease'],(df.Open+df.Close)/2,hours_12,\
       abs(df.Open-df.Close),fill_color='#FF3333', line_color='black')

p.segment(df.index,df.High,df.index,df.Low,color='Black')

output_file('candlestick.html')
show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 22), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 26), ('y', 48)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 48), ('x', 26), ('y', 48)